<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>APPLICATION_ID</key>
        <string>6bEy6H1qdz0Dp4ESqvSA8AZfTshv3hruehhS</string>
        <key>REST_API_KEY</key>
        <string>sS0rRZmPTCFVKFIxv7FDZOfH9d3x0yy4JSL2</string>
        <key>FLAT</key>
        <false/>
    </dict>
</plist>
